.new-story-button:hover {
  cursor: pointer;
}

.new-story-button {
  background-color: #2d2d2d;
  padding: 10px 15px 10px 15px;
  border: 1px solid white;
  width: 100px;
  display: flex;
  justify-content: center;
}
