.how-to-play-container {
  width: 100vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.how-to-play-story-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 560px;
}


.how-to-play-search-render {
  margin-left: 10vw;
}

.how-to-play-textbox-container {
  margin-top: 20px;
}

.how-to-play-textbox-container {
  margin-bottom: 10px;
}
