.navbar-container {
  height: 80px;
  width: 100vw;
  border-bottom: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-link:hover {
  cursor: pointer;
}

.navbar-link {
  padding: 10px 15px 10px 15px;
  margin-left: 5px;
}

.navbar-link.logo {
  margin-left: 0;
}


.navbar-links .new-story-button {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;

  padding: 0;
  border: none;
  width: 100%;
  background-color: black;

}


@media all and (max-width:415px)and(min-width:0px) {
  .navbar-container {
    height: 55px;
  }
  .navbar-container {
    width: 90%;
  }
}
