.search-container {
  width: 100vw;
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.search {
  width: 400vw;
  margin-left: 10vw;
}


@media all and (max-width:415px)and(min-width:0px) {
  .search {
    margin-top: 10vh;
  }
}
