.story-container {
  width: 100vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.story {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 560px;
}

.story-current {
  margin-top: 30px;
}

.story-add-to {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.story-add-to-timer-and-characters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story-characters {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 125px;
}

.story-text-area {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 1% 2% 1% 2%;
  margin-top: 15px;
  height: 100px;
}

.story-update-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;

  width: 100%;
  height: 50px;
  margin-top: 15px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-update-button:hover {
  cursor: pointer;
}

.story-other-user-left {
  margin-top: 60px;
}

.story-not-your-turn {
  display: flex;
  margin-top: 60px;
}

.story-not-your-turn p {
  margin-right: 4px;
}

.story .new-story-button {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;

  margin-top: 30px;
  margin-bottom: 45px;
  width: 134px;
}


@media all and (max-width:415px)and(min-width:0px) {
  .story-add-to-timer-and-characters {
    flex-direction: column;
  }
  .story {
    width: 75vw;
  }
  .story-add-to {
    margin-top: 20px;
  }
}
